extends layout

block content
  h1= 'Never on Wednesdays'
  p Welcome #{uid}
  button(type='button' onclick='osc()') Faire jouer le Son
  button(type='button' onclick='window.BoutonFlocage.basculer()') Partir le Sinewaver
  div(class='container', ontouchmove='window.BoutonFlocage.moduler(event)', onmousemove='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
  //  div(class='grid-item', ontouchmove='window.BoutonFlocage.moduler(event)', onmouseover='window.BoutonFlocage.moduler(event)')
