extends layout

block content
  h1= 'Never on Wednesdays'
  h2= 'latitude'
  h3(id='latitude') 0.0
  h2= 'longitude'
  h3(id='longitude') 0.0
  h2= 'ratio'
  h3(id='ratio') 0.0
  button(type='button' onclick='window.BoutonFlocage.basculer()') Debuter
  div(class='container', ontouchmove='window.BoutonFlocage.moduler_y(event)', onmousemove='window.BoutonFlocage.moduler_y(event)')  
  canvas(id='canvas')
