extends layout

block content
  h1= 'Never on Wednesdays'
  p Welcome #{uid}
  button(type='button' onclick='osc()') Faire jouer le Son
  button(type='button' onclick='myStuff.sinewaver().play()') Faire jouer le Sinewaver
  button(type='button' onclick='myStuff.sinewaver().pause()') Arreter le Sinewaver
