extends layout

block content
  h1= 'Never on Wednesdays'
  button(type='button' onclick='window.BoutonFlocage.basculer()') Debuter
  div(class='container', ontouchmove='window.BoutonFlocage.moduler(event)', onmousemove='window.BoutonFlocage.moduler(event)')
