doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/osc.js')
    script(src='/js/flocking-all.js')
    script(src='/js/synths.js')
    script(src='/js/flocage.js')
  body
    block content
