body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid-container {

	display : grid;
	grid-template-columns: 20pt 20pt 20pt 20pt;
	grid-template-rows: 20pt 20pt 20pt 20pt; 
	column-gap: 10px;
	row-gap: 10px;

}

.grid-item {
	background-color:orange;

}

.container {
	width: 100pt;
	height: 80pt;
	background-color: red;

}
